# Ignore all files in the code/config/ folder
*h5
config/paths_*
config/OLD/config_*
config/OLD/paths_*
code/tests/*
data/coils_cropped_cartesian_compressed.h5
cache

# Except for paths_template.json
!config/paths_template.json
!data/trajectories_gradient.json
!data/trajectories_structure.json
!config/OLD/bids_test.json
